# Data Filtering and Selection

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
employee_data = pd.read_excel("Employee Sample Data.xlsx")

In [3]:
# 8.
employee_IT_filter = employee_data[employee_data['Department'] == "IT"]
employee_IT_filter

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27,2020-07-01,119746,0.10,United States,Phoenix,NaT
18,E04116,David Barnes,Director,IT,Corporate,Male,Caucasian,64,2013-11-03,186503,0.24,United States,Columbus,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,E00156,Madelyn Scott,Sr. Manger,IT,Research & Development,Female,Caucasian,46,2002-01-09,148035,0.14,United States,Phoenix,NaT
990,E01578,Anthony Hong,Sr. Manger,IT,Research & Development,Male,Asian,37,2010-11-29,146961,0.11,United States,Columbus,NaT
992,E03058,Robert Wright,Technical Architect,IT,Manufacturing,Male,Caucasian,30,2015-06-14,67489,0.00,United States,Chicago,NaT
993,E04762,Audrey Richardson,Director,IT,Manufacturing,Female,Caucasian,46,2018-10-06,166259,0.17,United States,Chicago,NaT
994,E01148,Scarlett Kumar,Systems Analyst,IT,Corporate,Female,Asian,55,2009-01-07,47032,0.00,United States,Columbus,NaT

In [4]:
# 9.
salary_filter = employee_data[(employee_data['Annual Salary'] >= 100000) & (employee_data['Annual Salary'] <= 150000)]
salary_filter

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27,2020-07-01,119746,0.10,United States,Phoenix,NaT
8,E04533,Easton Bailey,Manager,Accounting,Manufacturing,Male,Caucasian,29,2019-01-25,113527,0.06,United States,Austin,NaT
11,E03344,Camila Rogers,Controls Engineer,Engineering,Speciality Products,Female,Caucasian,27,2021-10-21,109851,0.00,United States,Seattle,NaT
12,E00530,Eli Jones,Manager,Human Resources,Manufacturing,Male,Caucasian,59,1999-03-14,105086,0.09,United States,Austin,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,E00682,Sofia Fernandez,Manager,Accounting,Manufacturing,Female,Latino,44,2005-10-17,105223,0.10,United States,Phoenix,NaT
980,E00785,Hannah Hoang,Manager,Accounting,Speciality Products,Female,Asian,25,2021-12-15,114893,0.06,China,Chengdu,NaT
983,E02703,Austin Vang,Manager,Marketing,Speciality Products,Male,Asian,49,2018-05-20,119397,0.09,China,Beijing,2019-03-14
985,E00156,Madelyn Scott,Sr. Manger,IT,Research & Development,Female,Caucasian,46,2002-01-09,148035,0.14,United States,Phoenix,NaT
990,E01578,Anthony Hong,Sr. Manger,IT,Research & Development,Male,Asian,37,2010-11-29,146961,0.11,United States,Columbus,NaT

In [5]:
#10.
filter_2015_employee = employee_data[employee_data['Hire Date'] > '2015-01-01']
filter_2015_employee

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57,2017-01-24,50994,0.00,China,Chongqing,NaT
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27,2020-07-01,119746,0.10,United States,Phoenix,NaT
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25,2020-05-16,41336,0.00,United States,Miami,2021-05-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,E03058,Robert Wright,Technical Architect,IT,Manufacturing,Male,Caucasian,30,2015-06-14,67489,0.00,United States,Chicago,NaT
993,E04762,Audrey Richardson,Director,IT,Manufacturing,Female,Caucasian,46,2018-10-06,166259,0.17,United States,Chicago,NaT
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [6]:
#11.
multi_col_filter =  employee_data[(employee_data['Gender'] == 'Female') & (employee_data['Department'] =='Sales') & (employee_data['Bonus %'] > 0.1)]
multi_col_filter

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
21,E04732,Eva Rivera,Director,Sales,Manufacturing,Female,Latino,36,2021-04-02,151703,0.21,United States,Miami,NaT
95,E01427,Mia Cheng,Sr. Manger,Sales,Manufacturing,Female,Asian,34,2015-04-22,154941,0.13,United States,Phoenix,NaT
99,E03890,Nevaeh Jones,Vice President,Sales,Manufacturing,Female,Caucasian,31,2020-08-20,219693,0.30,United States,Austin,NaT
113,E02850,Evelyn Dinh,Director,Sales,Research & Development,Female,Asian,41,2018-08-10,171173,0.21,United States,Columbus,NaT
146,E00957,Genesis Perry,Sr. Manger,Sales,Corporate,Female,Caucasian,46,2013-07-18,149712,0.14,United States,Columbus,NaT
169,E03956,Everly Walker,Sr. Manger,Sales,Research & Development,Female,Caucasian,62,1999-08-02,137995,0.14,United States,Austin,NaT
193,E02791,Aubrey Romero,Director,Sales,Corporate,Female,Latino,49,1998-04-02,160832,0.30,United States,Phoenix,NaT
197,E00752,Luna Liu,Vice President,Sales,Manufacturing,Female,Asian,36,2014-02-22,218530,0.30,China,Shanghai,NaT
248,E02285,Aria Xi,Director,Sales,Research & Development,Female,Asian,45,2002-03-01,165181,0.16,United States,Seattle,NaT
272,E04127,Emery Acosta,Vice President,Sales,Research & Development,Female,Latino,42,2013-09-11,181452,0.30,United States,Columbus,NaT
312,E03081,Ayla Brown,Sr. Manger,Sales,Manufacturing,Female,Caucasian,49,2013-04-15,128303,0.15,United States,Phoenix,NaT
319,E04419,Sophia Ahmed,Sr. Manger,Sales,Speciality Products,Female,Asian,30,2015-06-13,127972,0.11,United States,Seattle,NaT
331,E03251,Ruby Medina,Director,Sales,Manufacturing,Female,Latino,50,2018-12-18,155351,0.20,United States,Seattle,NaT
423,E04101,Olivia Harris,Director,Sales,Speciality Products,Female,Caucasian,63,2020-06-14,181216,0.27,United States,Columbus,NaT
426,E01238,Eloise Griffin,Director,Sales,Manufacturing,Female,Caucasian,55,1995-10-29,153271,0.15,United States,Austin,NaT
449,E02633,Allison Roberts,Vice President,Sales,Manufacturing,Female,Black,54,2000-08-19,222224,0.38,United States,Columbus,NaT
561,E01488,Penelope Griffin,Director,Sales,Manufacturing,Female,Caucasian,61,2021-01-23,151783,0.26,United States,Seattle,NaT
733,E00170,Claire Adams,Director,Sales,Manufacturing,Female,Black,61,1997-08-19,159567,0.28,United States,Phoenix,NaT
757,E02800,Eva Estrada,Sr. Manger,Sales,Speciality Products,Female,Latino,45,2018-07-24,148991,0.12,Brazil,Sao Paulo,NaT
829,E02391,Piper Ramos,Sr. Manger,Sales,Manufacturing,Female,Latino,49,1996-04-02,157057,0.12,United States,Miami,NaT
846,E01943,Vivian Espinoza,Sr. Manger,Sales,Corporate,Female,Latino,52,2006-10-05,147966,0.11,Brazil,Rio de Janerio,2019-05-23
878,E03795,Hazel Young,Sr. Manger,Sales,Speciality Products,Female,Black,30,2017-08-13,154624,0.15,United States,Austin,NaT
913,E00943,Elena Mendoza,Director,Sales,Speciality Products,Female,Latino,27,2018-10-24,154973,0.29,Brazil,Sao Paulo,NaT
925,E01652,Avery Dominguez,Sr. Manger,Sales,Corporate,Female,Latino,27,2019-09-13,133297,0.13,Brazil,Rio de Janerio,NaT
984,E02191,Maria Sun,Director,Sales,Corporate,Female,Asian,25,2021-12-19,150666,0.23,China,Chengdu,NaT
988,E00005,Riley Washington,Director,Sales,Speciality Products,Female,Caucasian,39,2007-04-29,171487,0.23,United States,Phoenix,NaT
989,E04354,Raelynn Rios,Vice President,Sales,Manufacturing,Female,Latino,43,2016-08-21,258498,0.35,United States,Columbus,NaT

In [7]:
# 12.
new_dataFrame = employee_data[['Full Name','Job Title','Department','Annual Salary']]
new_dataFrame

           Full Name                 Job Title  Department  Annual Salary
0        Emily Davis                Sr. Manger          IT         141604
1      Theodore Dinh       Technical Architect          IT          99975
2       Luna Sanders                  Director     Finance         163099
3    Penelope Jordan  Computer Systems Manager          IT          84913
4          Austin Vo               Sr. Analyst     Finance          95409
..               ...                       ...         ...            ...
995     Wesley Young               Sr. Analyst   Marketing          98427
996     Lillian Khan                   Analyst     Finance          47387
997      Oliver Yang                  Director   Marketing         176710
998      Lily Nguyen               Sr. Analyst     Finance          95960
999      Sofia Cheng            Vice President  Accounting         216195

[1000 rows x 4 columns]